body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgba(0, 0, 0, 0.8);
    text-align: center;
    letter-spacing: 0.5em;
    background: linear-gradient(to right, yellow, green);
}

h1 {
    font-size: 50px;
    margin: 100px auto 80px;
}

h2 {
    margin: 80px auto 20px;
}
h3 {
    font-family: sans-serif;
    letter-spacing: 0.2em;
}
